SECRET_KEY=




DEBUG=

NAME=
USER=
PASSWORD=
HOST=
PORT=


EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_CELERY_DB=
REDIS_BEAT_DB=